.outer-div {
    margin-left: 5px;
    width: 24%;
    background-color: black;
    float: left;
    border:solid white 2px;
   
}
.outer-div img{
    width: 100%;
    height: 600px;
}
body{
    background-color: black;
}
h1{
    text-align: center;
    color: rgb(57, 128, 57);
    
}
.outer-div div{
    color: beige;
    height: 150px;
    width: 100%;
    text-align: center;
    padding-left: 10px;
}
