body{
 background-color: black;
}
#parent{
    height: 600px;
    width: 19%;
    border:solid black 2px;
    float: left;
    padding: 5px;
 
}
h1{
    color: white;
}
div img{
    height: 520px;
    width: 100%;
}
p{
    color: white;
}
#child{
    height: 30px;
   
   border: solid 1px;
   color: white;


}