body{
    background-color: black;
}
#parent{
  
    width: 19%;
    border:solid black 2px;
    display: flex;
    flex-direction: row;
   
}
.col{
         
    height: 900px;
    color: white;
    float: left;
    padding: 10px;
    display: flex;
    flex-direction: column;   align-items: center;
    justify-content: space-between;
    
}

h1{
    color: white;
}
.p{
    
    justify-content: flex-end;
    color: white;
}
.img{
    width: 1500px;
    height: 1700px;
}
